*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

body {
    padding: 50px 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
    background-color: #6AFFCB;
}

body::-webkit-scrollbar-track {
    /* background-color: #efefef; */
    /* background-color: #6AFFCB; */
    background-color: rgba(59, 45, 73, 0.2);
    background-color: white;
}

body::-webkit-scrollbar {
    width: 6px;
    /* background-color: #efefef; */
    /* background-color: #6AFFCB; */
    background-color: rgba(59, 45, 73, 0.2);
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    /* background-color: white; */
    background-color: #6AFFCB;
    background-color: rgba(59, 45, 73, 0.6);
}

.fixed-frame .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #fff;
    z-index: 99992;
}

.fixed-frame .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #fff;
    z-index: 99992;
}

.fixed-frame .left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    background-color: #fff;
    z-index: 99992;
}

.fixed-frame .right {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    background-color: #fff;
    z-index: 99992;
}

.fixed-frame .left a,
.fixed-frame .right a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    position: relative;
    line-height: 1.4;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 0.7;
    font-size: 0.8rem;
    width: 100%;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #3B2D49;
    /* backface-visibility: hidden; */
}

.fixed-frame .left a:hover,
.fixed-frame .right a:hover {
    opacity: 1;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 7px;
    max-width: 40px;
    height: auto;
    padding: 4px 4px 1px 4px;
    background-color: white;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.logo:hover svg {
    opacity: 0.8;
}

.logo svg {
    max-width: 100%;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    opacity: 0.5;
    fill: #3B2D49;
}

.social-links {
    display: block;
    max-width: 160px;
    margin: 0 auto;
    margin-top: -14px;
    text-align: center;
    color: #3B2D49;
    font-size: 1rem;
    background-color: white;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.social-links:hover {
    cursor: default;
}

.social-links a {
    display: inline-block;
    padding: 4px;
    opacity: 0.7;
    margin: 0 10px;
    color: #3B2D49;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.social-links a:hover {
    opacity: 1;
}

.tagline {
    text-align: center;
    font-weight: 500;
    line-height: 1.8;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #3B2D49;
}

.projects-wrapper {
    margin: 0 auto;
    padding: 25px 0;
    font-size: 0;
    text-align: center;
}

.projects-wrapper .project-container {
    display: inline-block;
    width: 96%;
    margin: 1%;
    color: #3B2D49;
    text-decoration: none;
    background-color: whitesmoke;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
    margin-bottom: 25px;
}

.projects-wrapper .project-container * {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.projects-wrapper .project-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* -webkit-transform: scale(0.99);
            transform: scale(0.99); */
}

.projects-wrapper .project-container:hover .project-title,
.projects-wrapper .project-container:hover .project-title * {
    background-color: #3B2D49;
    background-color: #fff;
    color: #6AFFCB;
    color: #3B2D49;
}

.projects-wrapper .project-container:hover .project-img .img-overlay {
    /* opacity: 0.2; */
}

.projects-wrapper .project-container:hover .project-img i {
    /* opacity: 1; */
}

.projects-wrapper .project-container .project-title {
    display: block;
    text-align: center;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    line-height: 1.6;
    background-color: white;
    background-color: #3B2D49;
    color: #6AFFCB;
}
.projects-wrapper .project-container .project-title * {
    background-color: white;
    background-color: #3B2D49;
    color: #6AFFCB;
}

.projects-wrapper .project-container .project-img {
    background-color: whitesmoke;
    display: block;
    width: 100%;
    height: 350px;
    /* height: 70vh; */
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-size: contain;
    /* transition: background-position 1000ms linear; */
    /* animation:  slideBG 9000ms infinite linear; */
}

.projects-wrapper .project-container .project-img .img-overlay {
    background-color: #6AFFCB;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.projects-wrapper .project-container .project-img i {
    font-size: 4rem;
    color: white;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -75%);
            transform: translate(-50%, -75%);
}



/* --- ABOUT PAGE --- */

.about-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 25px;
}
.about-logo {
    display: block;
    width: 180px;
    margin: auto;
    /* padding: 25px; */
    background-image: url("../img/site/A-Universe-Grey.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    -webkit-filter: grayscale();
            filter: grayscale()
}
.about-logo img {
    max-width: 100%;
    max-height: 100%;
    /* filter: invert() */
}
.about-logo svg {
    fill: #6AFFCB;
    opacity: 0;
}
.about-container .about-text {
    /* font-size: 0.8rem; */
    font-size: 1rem;
    /* text-align: left; */
    color: #3B2D49;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-top: 40px;
}



/* --- CONTACT PAGE --- */

.contact-container {
    max-width: 640px;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 1rem;
    text-align: left;
}

.contact-container form {
    display: block;
}
.contact-container form .input-field-container {
    margin-bottom: 20px;
}
.contact-container form label {
    display: block;
    text-align: left;
    font-size: 0.8rem;
    display: inline-block;
    color: #6AFFCB;
    background-color: #3B2D49;
    letter-spacing: 1px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    padding: 2px 8px;
    margin-left: 16px;
    position: relative;
    z-index: 99;
}
.contact-container form .form-input {
    margin-top: -0.6rem;
    display: block;
    width: 100%;
    outline: 0;
    border: none;
    border-bottom: 2px solid #3B2D49;
    padding: 16px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 1px;
    color: #3B2D49;
    -webkit-transition: margin-top 200ms ease-in-out;
    transition: margin-top 200ms ease-in-out;
}
.contact-container form .form-input:focus {
    margin-top: 0;
}
.contact-container form .form-input[type="submit"] {
    margin-top: 22px;
    background-color: #6AFFCB;
    border-bottom: none;
    border: 2px solid #3B2D49;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.8rem;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.contact-container form .form-input[type="submit"]:hover {
    background-color: #3B2D49;
    color: #6AFFCB;
    cursor: pointer;
}
.contact-email {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.contact-email a {
    display: inline-block;
    margin-top: 4px;
    font-size: 1.4rem;
    color: white;
    padding: 6px;
    text-decoration: none;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
.contact-email a:hover {
    color: #3B2D49;
}
.contact-social-links {
    text-align: center;
}
.contact-social-links a {
    background-color: #6AFFCB;
    color: white;
    font-size: 1.6rem;
    margin: 8px;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
.contact-social-links a:hover {
    color: #3B2D49;
}

@media screen and (max-width: 780px) {
    .projects-wrapper .project-container {
        margin-bottom: 25px;
    }
    .projects-wrapper .project-container .project-img {
        height: 140px;
        background-size: cover;
    }

    .about-container {
        padding: 12px;
    }
    .about-container .about-text {
        font-size: 0.8rem;
    }

    .contact-container {
        padding: 12px;
    }
}


@-webkit-keyframes slideBG {
    0% {
        background-position: center top;
    }
    50% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}


@keyframes slideBG {
    0% {
        background-position: center top;
    }
    50% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}
